{% include 'admin-layout.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
         <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ table }}</h1>
            <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{ table }}</h6>
            </div>
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>uuid</th>
                      <th>timeStamp</th>
                      <th>reportedDate</th>
                      <th>vendorTicketNumber</th>
                      <th>ticketNumber</th>
                      <th>ticketStatus</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>uuid</th>
                      <th>timeStamp</th>
                      <th>reportedDate</th>
                      <th>vendorTicketNumber</th>
                      <th>ticketNumber</th>
                      <th>ticketStatus</th>
                    </tr>
                  </tfoot>
                  <tbody>

                  {% for item in data %}
                       <tr>
                          <td>{{item.uuid}}</td>
                          <td>{{item.timeStamp}}</td>
                          <td>{{item.reportedDate}}</td>
                          <td>{{item.vendorTicketNumber}}</td>
                          <td>{{item.ticketNumber}}</td>
                          <td>{{item.ticketStatus}}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="static/js/demo/datatables-demo.js"></script>


</body>

</html>
